@{
    ViewBag.Title = "Erro na aplicação";
}
<h2>Erro no Aplicativo</h2>
<br />
<h3>@ViewBag.Message</h3>

<address>

    Metasoft Solutions<br />
    Rua Nevada Kid,93 Aralú - Santa Isabel-SP<br />
    
    <i class="fa fa-phone"  style="font-size:20px;"     aria-hidden="true"></i>  <span style="font-size:18px;"> (11)   4656-1808</span><br />
    <i class="fa fa-mobile" style="font-size:30px;"     aria-hidden="true"></i> <span style="font-size:18px;">&nbsp;(11) 9-7506-8030</span><br />
    <i class="fa fa-envelope-o" style="font-size:20px;"  aria-hidden="true"></i> <span style="font-size:18px;">edson@metasoftsolutions.com.br</span><br />

</address>

<p style="color:#1b0f63">
    Um email foi enviado para nosso suporte técnico notificando sobre o problema.
    Utilize fones e email acima caso queria entrar em contato imediatamente.
</p>