@model Metasoft.Models.ResumoDiarioViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<div style="width:35%;" class="mgauto">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h4>Bem vindo ao Controle Financeiro DNK.</h4>
</div>




