@model Metasoft.Models.LoadingViewModel
    <div id="loading" name="loading" style="height:500px;">
        <div style="display:inline-block;width:5%;height:5%;margin-left: 47%;margin-top:20%; text-align:center;">
            <img src="~/Img/loading.gif" width="70" height="70" />

        </div>
        <span class="title" style="display:inline-block;width:100%;text-align:center;margin-top:20px;">@Model.Text</span>
    </div>

