@model Metasoft.Models.MesesViewModel
<div  style="@Model.labelcss" class="@Model.labelclass">Mês</div>
<div style="@Model.selectdivcss">
    <select id="meses" name="meses" class="@Model.selectclass">
        <option value="1">&nbsp;Janeiro</option>
        <option value="2">&nbsp;Fevereiro</option>
        <option value="3">&nbsp;Março</option>
        <option value="4">&nbsp;Abril</option>
        <option value="5">&nbsp;Maio</option>
        <option value="6">&nbsp;Junho</option>
        <option value="7">&nbsp;Julho</option>
        <option value="8">&nbsp;Agosto</option>
        <option value="9">&nbsp;Setembro</option>
        <option value="10">&nbsp;Outubro</option>
        <option value="11">&nbsp;Novembro</option>
        <option value="12">&nbsp;Dezembro</option>
    </select>
</div>
