<option value="0" selected>Todos</option>
<option value="1">Reaj. em 30 dias</option>
<option value="2">Reaj. em 90 dias</option>
<option value="3">Reaj. vencidos</option>
<option value="4">Termino em 30 dias</option>
<option value="5">Termino em 90 dias</option>
<option value="6">Termino vencido</option>


