<option value="0" selected>Todas</option>
<option value="1">Em analise</option>
<option value="2" style="color:yellow;" >Aceita</option>
<option value="7" style="color:orange;">Aguardando PO</option>
<option value="4" style="color:blue;">Liberada</option>
<option value="5" style="color:green;">Faturando</option>
<option value="3" style="color:red;">Negada</option>
