 <option value="1" selected>Todas</option>
 <option value="2">Em atraso</option>
 <option value="4">Este mês</option>
<option value="3">Hoje</option>
<option value="6">Pagas</option>
<option value="5">Recorrentes</option>
<option value="7">Arquivadas</option>
