@model Metasoft.Models.SaveViewModel
<div class="row footer" style="margin-top:@Model.Mtop;">
    <a id="saveico" href="#" onclick="submitform('@Model.Submit');" title="Salvar dados" class="actionicon savenew" style="font-size:26px;"><i id="saveimg" class="fas fa-save"></i></a>
    <a id="alterarico" href="@Model.BackToUrl" title="Voltar para lista" class="actionicon savenew" style="font-size:26px;"><i id="alcliimg" class="fas fa-arrow-left"></i></a>
</div>


